
@layer vars, core, page;

@layer vars {
	:root {
		--bg: #111;
		--color: #aaa;
		--prime: skyblue;
		--link: cyan;

		--selection: white;
		--selection-bg: #f70;
	}
}

@layer core {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: #444 transparent;
		&::-webkit-scrollbar { width: 8px; }
		&::-webkit-scrollbar-track { background: transparent; }
		&::-webkit-scrollbar-thumb { background: #444; border-radius: 1em; }
		&::-webkit-scrollbar-thumb:hover { background: #666; }
	}

	::selection {
		color: var(--selection);
		background-color: var(--selection-bg);
	}

	:not(:defined) {
		display: none;
	}

	a {
		color: var(--link);
		text-decoration: none;

		&:visited {
			color: color-mix(in srgb, purple, var(--link) 70%);
		}

		&:hover {
			color: color-mix(in srgb, white, var(--link) 90%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, white, var(--link) 50%);
		}
	}
}

@layer page {
	:root {
		height: 100%;
		font-size: 16px;
		font-family: sans-serif;

		color-scheme: dark;
		scrollbar-gutter: stable;

		color: var(--color);
		background: var(--bg);
		text-shadow: 0.1em 0.1em 0.2em #0008;
	}

	body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

