@import url(../assets/fonts/Nippo/Fonts/WEB/css/nippo.css);
@import url(../assets/fonts/Poppins/Fonts/WEB/css/poppins.css);
@import url(../assets/fonts/NotoEmoji/Fonts/WEB/css/noto.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  min-height: 100%;
  color: gray;
  background: #101010;
}

body {
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }

/* Toast (optional) */
.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: rgba(0,0,0,.8);
  z-index: 1000;
  font-family: Poppins-Regular;
}
